<!DOCTYPE html>
<html>
    <head>
        <title>ToDo List</title>
        <link rel="stylesheet" href="/view/style.css">
        <meta name='viewport' content='width=device-width' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
        </script>

    </head>
    <body>
        <div id="navbar">
            <div id="navcontent">
                <div id="todo_tab" class="tab selected_tab">
                    <h3 class="tab_text">A fazer</h3>
                </div>
                <div id="done_tab" class="tab">
                    <h3 class="tab_text">Cumpridas</h3>
                </div>
                <button id="adicionar">+ Adicionar</button>
            </div>

        </div>
        <div id="corpo" style="display: none;">
            <div class="task">
                <div class = "task_header">
                    <div class="task_number">
                        <a href="#">1</a>
                    </div>
                    <div class="task_title">
                        <h1></h1>
                    </div>
                </div>
                <hr>
                <div class="details_button">
                    <a href="#"></a>
                </div>
            </div>
        </div>
        <div id="detalhes" style="display: none;">
            <div class = "task task_details">
                <div class="task_header">
                    <h1 id="detalhes_titulo"class="title_input"></h1>
                    <h1 class="fechar" id="fechar_detalhes">X</h1>
                </div>
                <div class="details_input">
                    <text id="detalhes_texto"></text>
                </div>
                <hr>
                <div class="options">
                    <button id="concluir" class="op_button cumprida">Foi Cumprida</button>
                    <button id="desconcluir" style="display: none;" class="op_button nao_cumprida">A fazer</button>
                    <button id="editar_tarefa" class="op_button editar">Editar</button>
                    <button id="excluir_tarefa" class="op_button excluir">Excluir</button>
                </div>               
            </div>
        </div>

        <div id="editar" style="display: none;">
            <div class = "task task_details">
                <form onsubmit="update()">
                    <input class="title_input" id="title_edit" type="text" name="taskName" placeholder="Título" required/>
                    <textarea class="details_input" id="details_edit" name="details" placeholder="Detalhes"></textarea>
                    <hr>
                    <div class="options">
                        <input type="submit" class="op_button cumprida" value="Salvar" />
                        <button id="cancelar" class="op_button nao_cumprida">Cancelar</button>
                    </div> 
                </form>              
            </div>
        </div>

        <div id="criar" style="display: none;">
            <div class = "task task_details">
                <form onsubmit="create()" action="">
                    <input class="title_input" placeholder="Título da tarefa" id="title_create" type="text" name="taskName" required/>
                    <textarea class="details_input" placeholder="Detalhes" id="details_create" name="details"></textarea>
                    <hr>
                    <div class="options">
                        <input type="submit" class="op_button cumprida" value="Adicionar" />
                        <button id="criar_cancela" class="op_button nao_cumprida">Cancelar</button>
                    </div> 
                </form>              
            </div>
        </div>

        <div id="carregando" style="display: none">
            <div class = "carregando">
                <img src="/view/carregando.gif" />            
            </div>
        </div>

        <div id="mensagem" style="display: none;">
            <div class = "task task_details message">
                <div class="details_input msg_text">
                    <h3 id="msg_text"></h3>
                </div>
                
                <hr>
                <div class="options">
                    <button class="op_button editar" id="OK">OK</button>
                </div>
            </div>
        </div>

        <div id="conf_excluir" style="display: none;">
            <div class = "task task_details message">
                <div class="details_input msg_text">
                    <h3 id="excluir_msg">Deseja mesmo excluir?</h3>
                </div> 
                <hr>
                <div class="options">
                    <button id="sim" class="op_button excluir">Sim</button>
                    <button id="nao" class="op_button cumprida">Não</button>
                </div>
            </div>
        </div>

        <script src="/view/logic.js"></script>
        <script src="/view/criar.js"></script>
        <script src="/view/detalhes.js"></script>
        <script src="/view/deletar.js"></script>
        <script src="/view/editar.js"></script>

    </body>
</html>