body{
    font-family: Calibri;
}

hr{
    margin-bottom: 0;
}

#navbar{
    position: fixed; 
    background-color: black;
    width: 100%; 
    height: 30px;
    top:0;
    left:0;
    z-index:1; 
    border: 0;
}

.tab{
    display: inline-block;
    height: 100%;
    width: fit-content; 
    color:azure
}
.tab_text{
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#todo_tab{
    margin-left: 5px;
}

.selected_tab{
    background-color: rgb(236, 238, 238);
    color:black
}

#corpo{
    width: 100vw;
    height: calc(100vh - 30px);
    background-color: #191970;
    position: absolute;
    left: 0;
    top: 30px;
    overflow: auto;
}

.task{
    position: relative;
    top:10px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    max-width: 500px;
    height: fit-content;
}

.task_header{
    display: flex;
}

.details_button{
    text-align: center;
    vertical-align: middle;
    height: 25px;
}

.details_button a{
    vertical-align: middle;
}

.task_number{
    flex: 1;
    margin: 20px;
    height: 100%;
    vertical-align: middle;
    font-size: 30px;
}
.task_title{
    flex:20;
    position: relative;
    overflow-x: auto;
}

#detalhes{
    width: 100vw;
    height: calc(100vh - 30px);
    background-color: #191970;
    position: absolute;
    left: 0;
    top: 30px;
    overflow: auto;
}

.task_details{
    top:25vh;
}
.title_input{
    position: relative;
    width: 90%;
    font-size: 30px;
}