body{
    font-family: Calibri;
    background-color: #191970;
}

hr{
    margin-bottom: 0;
}

#navbar{
    position: fixed; 
    background-color: black;
    width: 100%; 
    height: 30px;
    top:0;
    left:0;
    z-index:1; 
    border: 0;
}

#navcontent{
    display: inline;
}

.tab{
    display: inline-block;
    height: 100%;
    width: fit-content; 
    color:azure
}
.tab_text{
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#todo_tab{
    margin-left: 5px;
}

.selected_tab{
    background-color: rgb(236, 238, 238);
    color:black
}

#corpo, #detalhes{
    width: 100vw;
    height: calc(100vh - 30px);
    position: absolute;
    left: 0;
    top: 30px;
    overflow: auto;
}

.task{
    position: relative;
    top:10px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    max-width: 500px;
    height: fit-content;
}

.task_header{
    display: flex;
}

.details_button{
    text-align: center;
    vertical-align: middle;
    height: 25px;
}

.details_button a{
    vertical-align: middle;
}

.task_number{
    flex: 1;
    margin: 20px;
    height: 100%;
    vertical-align: middle;
    font-size: 30px;
}
.task_title{
    flex:20;
    position: relative;
    overflow-x: auto;
}

.task_details{
    top:25vh;
}
.title_input{
    flex:10;
    position: relative;
    width: 89%;
    margin-left:10px;
    font-size: 30px;
    overflow-x: auto;
}

.fechar{
    flex: 1;
    display: inline;
    margin-left:10%;
    margin-right: 10px;
    position: relative;
    right:0;
}

.details_input{
    margin:0 auto;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    max-height: 250px;
    overflow:auto;
    text-align: justify;
    font-size: 18px;
}

#details_edit, #details_create{
    height: 250px;
    width: 94%;
    resize: none;
}

#title_edit, #title_create{
    width: 94%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.options{
    display: flex;
}

.op_button{
    flex:1;
    height:30px;
    margin: 5px;
    border:0;
    border-radius: 5px;
    font-weight: bold;
    color:rgb(236, 238, 238)
}

.cumprida{
    background-color:green;
}

.editar{
    background-color:royalblue;
}

.excluir{
    background-color:red;
}

.nao_cumprida{
    background-color: rgb(92, 92, 92);
}

.carregando{
    display: block;
    margin:0 auto;
    max-height: fit-content;
    background-color: white;
    max-width: fit-content;
    position: relative;
    top: 25vh;
}

.carregando img{
    margin: 40px;
}

#adicionar, #excluir_concluidas{
    position: fixed;
    top:4px;
    right: 10px;
}

.msg_text{
    min-height: 40px;
}