<!DOCTYPE html>
<html>
    <head>
        <title>ToDo List</title>
        <link rel="stylesheet" href="/view/style.css">
        <meta name='viewport' content='width=device-width' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id="navbar">
            <div id="todo_tab" class="tab selected_tab">
                <h3 class="tab_text">A fazer</h3>
            </div>
            <div id="done_tab" class="tab">
                <h3 class="tab_text">Cumpridas</h3>
            </div>
        </div>
        <div id="corpo">
            <div class="task">
                <div class = "task_header">
                    <div class="task_number">
                        <a href>1</a>
                    </div>
                    <div class="task_title">
                        <h1>Hello teste</h1>
                    </div>
                </div>
                <hr>
                <div class="details_button">
                    <a href="">Ver detalhes</a>
                </div>
            </div>

        </div>
        
    </body>
    <script src="/view/logic.js"></script>
</html>